.about_section_light {
    min-height: 70vh;
    color: var(--secondary-light);
    background: var(--primary-light);
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-size: 1.5rem;
}
.about_section_dark {
    min-height: 70vh;
    background: var(--primary-dark);
    color: var(--secondary-dark);
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-size: 1.5rem;
}

.highlight_light {
    font-weight: bold;
    color: var(--accent-light);
}
.highlight_dark {
    font-weight: bold;
    color: var(--accent-dark);
}

@media only screen and (max-width: 850px) {
    .about_section_light, .about_section_dark {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 450px) {
    .about_section_light, .about_section_dark {
        font-size: 1.2rem;
    }
}