.gridsection_light {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: var(--primary-light);
}
.gridsection_dark {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: var(--primary-dark);
}

.beginnerheading_light {
    text-align: center;
    text-transform: capitalize;
    font-size: 2vmax;
    background: var(--primary-light);
    color: var(--secondary-light);
    padding: 15px 0;
}
.beginnerheading_dark {
    text-align: center;
    text-transform: capitalize;
    font-size: 2vmax;
    background: var(--primary-dark);
    color: var(--secondary-dark);
    padding: 15px 0;
}
.projectarticle_light {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-radius: 3px;
    border-color: var(--accent-light);
    color: var(--secondary-light);
    background: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.projectarticle_dark {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-radius: 3px;
    border-color: var(--accent-dark);
    color: var(--secondary-dark);
    background: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.projectarticle_light:hover {
    border-color: var(--secondary-light);
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    
}
.projectarticle_dark:hover {
    border-color: var(--secondary-dark);
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    
}

.projecthead {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 8px;
    text-align: center;
}
.projectdescr {
    letter-spacing: 1.5px;
    margin-bottom: 2px;
    text-align: center;
}
.projectdate {
    text-align: center;
    margin-bottom: 20px;
}
.projectlinks {
    text-align: center;
}
.projectlive_light {
    color: var(--secondary-light);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}
.projectlive_dark {
    color: var(--secondary-dark);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}
.projectlive_light:hover {
    color: var(--accent-light);
    text-decoration: underline;
}
.projectlive_dark:hover {
    color: var(--accent-dark);
    text-decoration: underline;
}
.projectcode_light {
    color: var(--secondary-light);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}
.projectcode_dark {
    color: var(--secondary-dark);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}
.projectcode_light:hover {
    color: var(--accent-light);
    text-decoration: underline;
}
.projectcode_dark:hover {
    color: var(--accent-dark);
    text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    .gridsection_light, .gridsection_dark {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .projectarticle_light, .projectarticle_dark {
        padding: 10px 0;
    }
    .projecthead {
        font-size: 2.3vmax;
    }
    .projectdescr, .projectdate {
        font-size: 2vmax;
    }
    .projectlinks {
        font-size: 1.9vmax;
    }
}
@media only screen and (max-width: 450px) {
    .gridsection_light, .gridsection_dark {
        grid-template-columns: repeat(1, 1fr);
    }
    .projecthead {
        font-size: 2vmax;
    }
    .projectdescr, .projectdate {
        font-size: 1.5vmax;
    }
    .projectlinks {
        font-size: 1.6vmax;
    }
}