.gridsection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
    min-height: 90vh;
}

.projectarticle {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.projectarticle:hover {
    border-color: #FFE459;
}

.projecthead {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.projectdescr {
    letter-spacing: 1.5px;
    margin-bottom: 2px;
    text-align: center;
}
.projectdate {
    margin-bottom: 20px;
}
.projectarticle a {
    color: white;
    text-decoration: none;
}
.projectlive {
    border-radius: 10px;
    padding: 8px;
}
.projectlive:hover {
    color: #FFE459;
}
.projectcode {
    border-radius: 10px;
    padding: 8px;
}
.projectcode:hover {
    color: #FFE459;
}

@media only screen and (max-width: 850px) {
    .gridsection {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .projectarticle {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 420px) {
    .gridsection {
        grid-template-columns: repeat(1, 1fr);
    }
    .projecthead {
        font-size: 2vmax;
    }
    .projectdescr, .projectdate {
        font-size: 1.5vmax;
    }
    .projectarticle a {
        font-size: 1.6vmax;
    }
}