* {
    margin: 0;
    padding: 0;
}

.blog_section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.blog_article {
    color: white;
    width: 40vw;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 850px) {
    .blog_article {
        width: 60vw;
    }
}
@media only screen and (max-width: 450px) {
    .blog_article {
        width: 70vw;
    }
 
}