.hero {
    display: flex;
    align-items: center;
}
.hero_headline {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    margin-left: 50px; 
}
.highlight {
    color: #FFE459;
}