@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

header {
    background: #082032;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: white;
}

figure {
    color: #FFE459;
    margin: 0 0 25px 0;
    font-size: 3rem;
    letter-spacing: 4px;
}

ul {
    display: flex;
}
li {
    margin: 0 8px 8px 8px;
    letter-spacing: 2px;
    list-style: none;
}
a {
    color: white;
    text-decoration: none;       
}
li:hover {
    cursor: pointer;
    color: #FFE459;
}


