
header {
    background: #082032;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: white;
}

header figure {
    color: #FFE459;
    margin: 0 0 25px 0;
    font-size: 3vmax;
    letter-spacing: 4px;
}

header ul {
    display: flex;
}
header li {
    margin: 0 25px 10px 25px;
    font-size: 1.3vmax;
    letter-spacing: 2px;
    list-style: none;
}
header a {
    color: white;
    text-decoration: none;       
}
header li:hover {
    cursor: pointer;
    color: #FFE459;
}


@media only screen and (max-width: 420px) {
    header figure {
        font-size: 4vmax;
    }
    header li {
        font-size: 1.5vmax;
        margin-left: 15px;
        margin-right: 15px; 
    }
}