
.header_light {
    background: var(--primary-light);
    color: var(--secondary-light);
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.header_dark {
    background: var(--primary-dark);
    color: var(--secondary-dark);
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.header_figure_light {
    color: var(--primary-light);
    background: var(--secondary-light);
    font-size: 3vmax;
    letter-spacing: 4px;
    padding: 0 5px;
    border-radius: 3px;
}
.header_figure_dark {
    color: var(--primary-dark);
    background: var(--secondary-dark);
    font-size: 3vmax;
    letter-spacing: 4px;
    padding: 0 5px;
    border-radius: 3px;
}

.header_ul {
    display: flex;
}
.header_li {
    margin: 0 20px 0px 20px;
    font-size: 1.5vmax;
    letter-spacing: 1.5px;
    list-style: none;
}

.header_a_light {
    color: var(--secondary-light);
    text-decoration: none;       
}
.header_a_light:hover {
    cursor: pointer;
    font-weight: bold;
}
.header_a_dark {
    color: var(--secondary-dark);
    text-decoration: none;       
}
.header_a_dark:hover {
    cursor: pointer;
    font-weight: bold;
}

.theme_btn_light {
    width: 2vmax;
    height: 2vmax;
    background: var(--primary-dark);
    border-style: none;
    border-radius: 5px;
}
.theme_btn_dark {
    width: 2vmax;
    height: 2vmax;
    background: var(--primary-light);
    border-style: none;
    border-radius: 5px;
}

@media only screen and (max-width: 850px) {
    
    .header_li {
        font-size: 1.7vmax;
    }

    .theme_btn_light {
        width: 2.5vmax;
        height: 2.5vmax;
    }
    .theme_btn_dark {
        width: 2.5vmax;
        height: 2.5vmax;
    }
}
@media only screen and (max-width: 450px) {

    .header_light {
        flex-direction: column;
    }
    .header_dark {
        flex-direction: column;
    }

    .header_figure_light {
        font-size: 2vmax;
        margin-bottom: 10px;
    }
    .header_figure_dark {
        font-size: 2vmax;
        margin-bottom: 10px;
    }
    
    .header_ul {
        margin-bottom: 10px;
    }
    .header_li {
        margin-left: 10px;
        margin-right: 10px; 
    }

    .theme_btn_light {
        width: 2.8vmax;
        height: 2.8vmax;
    }
    .theme_btn_dark {
        width: 2.8vmax;
        height: 2.8vmax;
    }
}