.footer_light {
    min-height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-light);
    border-top-style: solid;
    border-top-width: thin;
    border-color: var(--accent-light);
}
.footer_dark {
    min-height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-dark);
    border-top-style: solid;
    border-top-width: thin;
    border-color: var(--accent-dark);
}

.footerlink_light {
    font-size: 1.2vmax;
    margin: 0 25px;
    text-decoration: none;
    color: var(--secondary-light);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    letter-spacing: 1px;
}
.footerlink_dark {
    font-size: 1.2vmax;
    margin: 0 25px;
    text-decoration: none;
    color: var(--secondary-dark);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    letter-spacing: 1px;
}

.footerlink_light:hover {
    color: var(--accent-light);
}
.footerlink_dark:hover {
    color: var(--accent-dark);
}

@media only screen and (max-width: 850px) {
    .footerlink_light, .footerlink_dark {
        letter-spacing: 1.5px;
    }
}