@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --primary-light: #FFFFFF;
    --secondary-light: #263238;
    --accent-light: #607D8B;
    
    --primary-dark: #263238;
    --secondary-dark: #FFFFFF;
    --accent-dark: #B2DFDB;
}